.fi-ta-progress-col {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 4);
    width: 100%;
    padding-inline: calc(var(--spacing) * 4);

    .fi-ta-progress-track {
        width: 100%;
        height: calc(var(--spacing) * 2.5);
        background-color: var(--color-gray-200);
        border-radius: calc(infinity * 1px);

        .dark & {
            background-color: var(--color-gray-600);
        }

        .fi-ta-progress-indicator {
            height: calc(var(--spacing) * 2.5);
            background-color: var(--color-600);
            border-radius: calc(infinity * 1px);
        }
    }

    .fi-ta-progress-label {
        min-width: calc(var(--spacing) * 10);
        text-align: right;
        font-size: var(--text-sm);
        color: var(--color-gray-950);

        .dark & {
            color: var(--color-white);
        }
    }
}
